.banner {
    background-image: url('../../images/background.png');
    background-size: cover;
    background-position: center;
    padding: 200px 0;
    height: 200px;
    color: white;
}

.banner h1{
	color:white;
	text-shadow:  0.1em 0.1em 0.2em
}
.banner p {
    color: white;
    opacity: .7;
    font-size: 20p
}